<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="base::layout(~{::section},~{::link})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../../static/styles/lobby/style.css" th:href="@{/styles/lobby/style.css}">
</head>
<body>
    <section>
        <div id="PlayDiv">
            <a th:href="setup" class="button" id="PlayButton">Play</a>
            </div>
        <div id="HallOfFameDiv">
            <a th:href="hallOfFame" class="button" id="HallOfFameButton">Hall of Fame</a>
            </div>
        <div id="GameTitleDiv">
            <p id="LanguageTitle" style="font-size: 94px;">Language</p>
            <p id="LearnQuizTitle" style="font-size: 61px; word-wrap: break-word;">Learn Quiz</p>
        </div>
    </section>

</body>
</html>