<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="base::layout(~{::section},~{::link},~{::script})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../static/styles/game/setup/style.css" th:href="@{/styles/game/setup/style.css}">

    <script src="../../../static/js/game/setup/Setup.js" th:src="@{/js/game/setup/Setup.js}"></script>
    <script src="../../../static/js/game/setup/Popup.js" th:src="@{/js/game/setup/Popup.js}"></script>
    <title>Document</title>
</head>
<body>
    <section>
        <form id="playForm" method="POST" th:action="@{'/game/process'}" th:object="${options}">
            <div id="BackDiv">
                <a href="#" id="BackButton">Back</a>
<!--                TODO fix buttons-->
            </div>
            <div id="options-grid">
                <p>Choose difficulty: </p>
                <div id="difficultyRadioDiv radioDiv" class="inputDiv">
                    <ul>
                        <li th:each="difficulty,iter : ${difficulties}">
                            <label th:for="${#ids.next('difficulty.index')}" class="radioLabelContainer">
                                <p th:text="${difficulty}"></p>
                                <input type="radio" th:field="*{difficulty.index}" th:value="${iter.index}">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <p>Choose type of the game: </p>
                <div id="typeOfGameRadioDiv radioDiv" class="inputDiv">
                    <ul>
                        <li th:each="language,iter : ${languages}">
                            <label th:for="${#ids.next('languages.index')}" class="radioLabelContainer">
                                <p th:text="${language}"></p>
                                <input type="radio" th:field="*{languages.index}" th:value="${iter.index}">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <p>Do you want to guess the part of speech of the given word?</p>
                <div id="usingPartOfSpeechDiv" class="inputDiv">
                    <div class="checkboxDiv">
<!--                        <input class="checkBoxInput" type="checkbox" th:field="*{partsOfSpeech}" th:value="ASD">-->
<!--                        <label th:for="${#ids.prev('partsOfSpeech')}" id ="partOfSpeechLabel">No</label>-->

                        <input class="checkBoxInput" type="checkbox" th:field="*{partsOfSpeech}">
                        <label th:for="${#ids.prev('partsOfSpeech')}" id="partsOfSpeechLabel">No</label>

<!--                        <input class="checkBoxInput" type="checkbox" id="partsOfSpeechCheckBox" name="partsOfSpeechCheckBox" th:checked="${partsOfSpeech}">-->
<!--                        <label for="partsOfSpeechCheckBox" id="partsOfSpeechLabel">No</label>-->
                    </div>
                </div>
                <p>Your username: </p>
                <div id="usernameInputDiv" class="inputDiv">
                    <input type="text" th:field="*{username}">
                </div>
            </div>
            <div id="PlayDiv">
                <a id="PlayButton" onclick="launchGame()">Play</a>
            </div>
        </form>
    </section>
</body>
</html>